In [104]:
import pandas as pd
import numpy as np
#import html2text
import random
import os

from urllib.request import urlopen  # the lib that handles the url stuff
from bs4 import BeautifulSoup

from __future__ import division
import nltk, re, pprint
from datetime import date

In [105]:
#Setup working directory 
os.chdir("C:/Users/ziyi/Desktop/Inde project/Independent Study Anseri-20170120T004329Z/Independent Study Anseri")

#Import Data
df=pd.read_excel('8K data/8K_Info.xlsx')

#Time Range under study
Time_range=pd.date_range("2013-01-01","2016-12-31",freq="D")

In [106]:
df.head()

,Unnamed: 0,CIK,Company Name,Form Type,Date Filed,Filename,Text,Ticker
9,3732,1009626,BROCADE COMMUNICATIONS SYSTEMS INC,8-K,1/7/2015,edgar/data/1009626/0001009626-15-000002.txt,ITEM 5.02DEPARTURE OF DIRECTORS OR CERTAIN OFF...,BRCD
10,3733,1009626,BROCADE COMMUNICATIONS SYSTEMS INC,8-K,1/7/2015,edgar/data/1009626/0001193125-15-004052.txt,"ITEM 8.01\nOTHER EVENTS. ON JANUARY 7, 2015, ...",BRCD
11,3734,1009626,BROCADE COMMUNICATIONS SYSTEMS INC,8-K,1/14/2015,edgar/data/1009626/0001193125-15-010610.txt,ITEM 1.01\nENTRY INTO A MATERIAL DEFINITIVE AG...,BRCD
12,3735,1009626,BROCADE COMMUNICATIONS SYSTEMS INC,8-K,1/30/2015,edgar/data/1009626/0001009626-15-000010.txt,ITEM 5.02DEPARTURE OF DIRECTORS OR CERTAIN OFF...,BRCD
13,3736,1009626,BROCADE COMMUNICATIONS SYSTEMS INC,8-K,2/19/2015,edgar/data/1009626/0001009626-15-000013.txt,ITEM 2.02 RESULTS OF OPERATIONS AND FINANCIAL ...,BRCD

In [107]:
events_list=("ITEM 1.01","ITEM 1.02","ITEM 1.03","ITEM 1.04",
             "ITEM 2.01","ITEM 2.02","ITEM 2.03","ITEM 2.04","ITEM 2.05","ITEM 2.06",
             "ITEM 3.01","ITEM 3.02","ITEM 3.03",
             "ITEM 4.01","ITEM 4.02",
             "ITEM 5.01","ITEM 5.02","ITEM 5.03","ITEM 5.04","ITEM 5.05","ITEM 5.06","ITEM 5.07","ITEM 5.08",
             "ITEM 6.01","ITEM 6.02","ITEM 6.03","ITEM 6.04","ITEM 6.05",
             "ITEM 7.01",
             "ITEM 8.01",
             "ITEM 9.01"            
            )

In [108]:
#Function to get event listed in the raw 8-K text 
#Input:string (text) & string (events_list)
#Output: pd.DataFrame

def get_Events(text,events_list):
    
    events_stats=pd.DataFrame({"count":[0]*len(events_list)},index=events_list)
    
    for event in events_list:
        try:
            re.search(event,text)
            if re.search(event,text):
                events_stats.loc[event,"count"]=1 
        except:
            pass
        
    return(events_stats)

#Combine events to index file 
def Doc_Events(df,events_list):
    ndocs=len(df)
    nevents=len(events_list)
    
    df2=pd.DataFrame(np.random.randn(ndocs,nevents),index=df.index,columns=events_list)

    for i in range(0,ndocs):
        text=df.Text.iloc[i]
        events_stats=get_Events(text,events_list)
        df2.iloc[i]=events_stats["count"]
    
    df3=pd.concat((df[['CIK','Company Name','Date Filed']],df2),axis=1)
    
    return(df3)
    
#Get aggregated events time series for the index 
def Index_Events(Events_df):
    
    Temp=Events_df.sort_values("Date Filed")
    Temp=Temp.groupby("Date Filed").sum()
    Temp=Temp.drop("CIK",axis=1)
    
    Time_temp=pd.DataFrame(index=Time_range)
    Temp=Temp.merge(Time_temp,how="outer",right_index=True,left_index=True)
    Temp=Temp.fillna(0)
    
    return(Temp)

In [109]:
Events_df=Doc_Events(df,events_list)
Events_df.to_csv('8K data/events_Info.csv')

In [110]:
Events_df.head()

,CIK,Company Name,Date Filed,ITEM 1.01,ITEM 1.02,ITEM 1.03,ITEM 1.04,ITEM 2.01,ITEM 2.02,ITEM 2.03,...,ITEM 5.07,ITEM 5.08,ITEM 6.01,ITEM 6.02,ITEM 6.03,ITEM 6.04,ITEM 6.05,ITEM 7.01,ITEM 8.01,ITEM 9.01
9,1009626,BROCADE COMMUNICATIONS SYSTEMS INC,1/7/2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1009626,BROCADE COMMUNICATIONS SYSTEMS INC,1/7/2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
11,1009626,BROCADE COMMUNICATIONS SYSTEMS INC,1/14/2015,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12,1009626,BROCADE COMMUNICATIONS SYSTEMS INC,1/30/2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13,1009626,BROCADE COMMUNICATIONS SYSTEMS INC,2/19/2015,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [111]:
EventsbyComp=Events_df.groupby("Company Name").sum()
EventsbyComp=EventsbyComp.drop("CIK",1)
print(EventsbyComp.sum(axis=1))
print(EventsbyComp.sum(axis=0))

Company Name
3D SYSTEMS CORP                       194.0
ACXIOM CORP                            68.0
ADVANCED MICRO DEVICES INC            123.0
ANSYS INC                              57.0
ARROW ELECTRONICS INC                  86.0
AVNET INC                              67.0
BROCADE COMMUNICATIONS SYSTEMS INC     95.0
CADENCE DESIGN SYSTEMS INC             60.0
CIENA CORP                             77.0
CIRRUS LOGIC INC                      100.0
COGNEX CORP                            60.0
COMMVAULT SYSTEMS INC                  43.0
COMPUTER SCIENCES CORP                182.0
CONVERGYS CORP                         70.0
CREE INC                               91.0
DST SYSTEMS INC                       108.0
FAIR ISAAC CORP                        48.0
FORTINET INC                           67.0
GARTNER INC                            68.0
INTEGRATED DEVICE TECHNOLOGY INC       81.0
IPG PHOTONICS CORP                     88.0
JABIL CIRCUIT INC                      50.0
MANHATTAN ASSOCIATES INC               61.0
MAXIMUS INC                            94.0
MENTOR GRAPHICS CORP                   41.0
MICROSEMI CORP                        116.0
MONOLITHIC POWER SYSTEMS INC           66.0
NATIONAL INSTRUMENTS CORP              14.0
NCR CORP                              157.0
NETSCOUT SYSTEMS INC                   63.0
NEUSTAR INC                           114.0
SILICON LABORATORIES INC               79.0
SYNAPTICS INC                          45.0
SYNNEX CORP                            82.0
SYNOPSYS INC                           80.0
TECH DATA CORP                         71.0
TYLER TECHNOLOGIES INC                 31.0
VIASAT INC                             72.0
VISHAY INTERTECHNOLOGY INC            130.0
ZEBRA TECHNOLOGIES CORP                88.0
dtype: float64
ITEM 1.01     189.0
ITEM 1.02      16.0
ITEM 1.03       0.0
ITEM 1.04       0.0
ITEM 2.01      31.0
ITEM 2.02     644.0
ITEM 2.03      95.0
ITEM 2.04       0.0
ITEM 2.05      10.0
ITEM 2.06       5.0
ITEM 3.01       8.0
ITEM 3.02      14.0
ITEM 3.03       6.0
ITEM 4.01       1.0
ITEM 4.02       3.0
ITEM 5.01       1.0
ITEM 5.02     333.0
ITEM 5.03      43.0
ITEM 5.04       0.0
ITEM 5.05       1.0
ITEM 5.06       0.0
ITEM 5.07     146.0
ITEM 5.08       0.0
ITEM 6.01       0.0
ITEM 6.02       0.0
ITEM 6.03       0.0
ITEM 6.04       0.0
ITEM 6.05       0.0
ITEM 7.01     249.0
ITEM 8.01     299.0
ITEM 9.01    1193.0
dtype: float64

In [112]:
Events_ts=Index_Events(Events_df)
Events_ts.head()

,ITEM 1.01,ITEM 1.02,ITEM 1.03,ITEM 1.04,ITEM 2.01,ITEM 2.02,ITEM 2.03,ITEM 2.04,ITEM 2.05,ITEM 2.06,...,ITEM 5.07,ITEM 5.08,ITEM 6.01,ITEM 6.02,ITEM 6.03,ITEM 6.04,ITEM 6.05,ITEM 7.01,ITEM 8.01,ITEM 9.01
2013-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2013-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2013-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [113]:
Events_ts.to_csv('8K data/events_ts_Info.csv')